<%- include("partials/header")  %>
 

    <div align="center"><img src="/concepto-coronavirus-wuhan-covid-2019_116399-299.jpg"></div>
    <h1 align="center">#SOPES1</h1>
        
<%- include("partials/footer")  %>
<%- include("partials/script")  %>